@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);   
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

input {
    color: var(--very-dark-cyan);
    padding: 0.62rem;
    font-size: 1.37rem;
    text-align: right ;
    background-color: var(--very-light-grayish-cyan);
    border: none;
    border-radius: 0.5rem;
}

input:focus {
    outline: 0.06rem solid var(--strong-cyan);
}

html {
    height: 100%;
}

body {
    background: var(--light-grayish-cyan);
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.painel {
    background: var(--white);
    border-radius: 1.25rem;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 37.5rem;
    gap: 1.25rem;
}

.painel form {
    display: flex;
    flex-direction: column;
}

.tip-values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    gap: 0.62rem;
    padding: 0;
}

.tip-values input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.tip-values input[type="radio"]:checked + label {
    color: var(--very-dark-cyan);
    background: var(--strong-cyan);
}

.tip-values label {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 0.62rem 1.25rem;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tip-values label:hover {
    color: var(--very-dark-cyan);
    background: var(--light-grayish-cyan);
    border: none;
}

.custom__tip {
    width: 100%;
}

.results {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 1.25rem;
    border-radius: 0.62rem;
}

.m-bottom2 {
    margin-bottom: 1.25rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;

}

.row aside {
    color: var(--strong-cyan);
    font-size: 1.5rem;
    text-align: right;
}

.text__grey {
    color: var(--grayish-cyan);
}